[Unit]
Description=Grafana Dashboards
After=prometheus.service homelab-network.service

[Container]
Image=docker.io/grafana/grafana:latest
ContainerName=grafana
AutoUpdate=registry

Network=homelab.network
PublishPort=3000:3000

Volume=grafana-data.volume:/var/lib/grafana:Z

# Environment configuration
EnvironmentFile=%h/homelab-config/configs/grafana/grafana.env

# Secrets
Secret=grafana-oidc-client-secret,type=env,target=GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET

[Service]
Restart=always

[Install]
WantedBy=default.target
